
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Contact</h2>

<!-- inner banner -->
<section class="inner-banner p-md-5">
    <div class="s2000-breadcrumb py-lg-5">
        <div class="container pt-5 pb-sm-4 pb-2">
            <h4 class="inner-text-title font-weight-bold pt-5">Contact Us</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="index">Home</a></li>
                <li class="active"><i class="fas fa-angle-right mx-2"></i>Contact</li>
            </ul>
        </div>
    </div>
</section>
<!-- //inner banner -->
<!-- contact -->
<section class="s2000-contacts-12 py-5">
    <div class="contact-top py-lg-5 py-md-4 py-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8 contacts12-main">
                    <form action="https://formsubmit.co/el/duluba" target="_blank" class="main-input">
                        <div class="row top-inputs">
                            <div class="col-md-6">
                                <input type="text" placeholder="name" name="name" id="name" required="">
                            </div>
                            <div class="col-md-6">
                                <input type="email" name="email" placeholder="email" id="email" required="">
                            </div>
                        </div>
                        <input type="text" placeholder="Subject" name="subject" id="subject" required="" />
                        <textarea placeholder="Message" name="message" id="message" required=""></textarea>
                        <div class="text-end">
                            <button type="submit" class="btn btn-style">Send Now</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-4 ps-lg-5 mt-md-0 mt-4">
                    <h3 class="title-style mb-4">Contact Info</h3>
                    <div class="contact">
                        <a href="mailto:info@S2000.com">
                            <p class="contact-text-sub">info@S2000.com </p>
                        </a>
                        <a href="tel:+27-66-225-3164">
                            <p class="contact-text-sub">+27 66 225 3164</p>
                        </a>
                        <p class="contact-text-sub">space, <br>Unkown.</p>
                        <div class="buttons-teams">
                            <a href="#team"><span class="fab fa-facebook-square" aria-hidden="true"></span></a>
                            <a href="#team"><span class="fab fa-twitter-square" aria-hidden="true"></span></a>
                            <a href="#team"><span class="fab fa-google-plus-square" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact map -->
<section class="s2000-contacts-1">
    <div class="contacts">
       
    </div>
</section>
<!-- //contact -->
