
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Index</h2>
<!-- banner section -->
<section class="banner-19">
    <div class="banner-layer">
        <video autoplay muted loop id="myVideo">
            <source src="~/videos/video2.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
        <div class="main-content-top">
            <div class="container">
                <div class="main-content">
                    <h4>S2000 CORP</h4>
                    <p class="mt-3">
                        Where Marketing Meets the Digital Age
                    </p>
           
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about section -->
<section class="s2000-about-2 py-5">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row justify-content-between align-items-center pb-lg-5">
            <div class="col-lg-6 about-2-secs-right mb-lg-0 mb-5">
                <div class="image-box inverse position-relative">
                    <div class="image-box__static">
                        <img src="~/images/about1.jpg" alt="" width="364" height="459">
                    </div>
                    <div class="image-box__float">
                        <img src="~/images/about2.jpg" alt="" width="364" height="459">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 about-2-secs-left ps-lg-5 mt-lg-4 mt-5">
                <h5 class="sub-title">More than 200 000 potential clients to target </h5>
                <h3 class="title-style">We are passionate about using email marketing to achieve your business objectives.</h3>
                <p class="mt-4">
                    enter text
                </p>
                <ul class="mt-4 list-style-lis">
                    <li><i class="fas fa-check-circle"></i>100% Customer Satisfaction</li>
                    <li><i class="fas fa-check-circle"></i>Email Marketing</li>
                    <li><i class="fas fa-check-circle"></i>Affordable Prices</li>
                </ul>
                
            </div>
        </div>
    </div>
</section>
<!-- //about section -->
<!-- services section -->
<div class="s2000-grids-block-5 pb-5 pt-md-2 pt-4">
    <div class="container pb-lg-5 pb-md-4 pb-2">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <h3 class="title-style">Our Services </h3>
        </div>
        <div class="row text-center justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="servicecard-single">
                    <div class="grids5-info position-relative">
                        <img src="~/images/newservice.jpg" alt="" class="img-fluid" />
                    </div>
                    <div class="content-main-top">
                        <h4><a href="about">Improve out Reach</a></h4>
                        <p>
                            Our expertise will significantly expand your product/service reach, enhance campaign effectiveness, and amplify overall brand visibility, by connecting directly with your audience. We are able to target the market of consumers in proximety of your business that will improve attention and visit rate.
                        </p>
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                <div class="servicecard-single">
                    <div class="grids5-info position-relative">
                        <img src="~/images/email1.jpg" alt="" class="img-fluid" />
                    </div>
                    <div class="content-main-top">
                        <h4><a href="about">Free customizable emails</a></h4>
                        <p>
                            In addition to our efficient and spam-free mass emailing service, we will craft visually stunning, customizable email templates tailored specifically to your brand, ensuring a captivating and impactful communication with your audience free of charge with our services.
                        </p>
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                <div class="servicecard-single">
                    <div class="grids5-info position-relative">
                        <img src="~/images/service3.jpg" alt="" class="img-fluid" />
                    </div>
                    <div class="content-main-top">
                        <h4><a href="services">Campaign Management</a></h4>
                        <p>
                            we ensure to provide end-to-end management of email marketing campaigns for clients. This includes strategy development, list segmentation, content creation, scheduling, and performance tracking, which will save you the time and resources of doing it yourselfs.
                        </p>
                   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //services section -->
<div class="s2000-grids-block-5 pb-5 pt-md-2 pt-4">
    <div class="container pb-lg-5 pb-md-4 pb-2">
        <h3 class="title-style">What your emails would look like </h3>
        <!--slide-->
        <div class="slide-gallery">

            <div style="background-image:url(/images/emailTemp1.png)"></div>
            <div style="background-image: url(/images/emailTemp2.png)"></div>
            <div style="background-image: url(/images/emailTemp3.png)"></div>
            <div style="background-image: url(/images/emailTemp4.png)"></div>
            <div style="background-image: url(/images/emailtemp5.JPG)"></div>
        </div>
    </div>
</div>

<!-- bottom slide-->
<!-- banner bottom section -->
<section class="s2000-bottom-grids-6 py-5">
    <div class="container pt-lg-5 pt-md-4 pt-2">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="area-box">
                    <i class="fas fa-stopwatch-20"></i>
                    <h4><a href="about" class="title-head">Email Marketing</a></h4>
                    <p class="">
                        "Experience unparalleled marketing results with our cutting-edge email automation system available to you all at a budget-friendly price."
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                <div class="area-box">
                    <i class="fas fa-comments-dollar"></i>
                    <h4><a href="about" class="title-head">Network and OutReach</a></h4>
                    <p class="">
                        "with an extensive network of over 200,000 South Africans. Let us elevate your product or service with a powerful outreach that achieves a great return on investments."
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                <div class="area-box">
                    <i class="fas fa-thumbs-up"></i>
                    <h4><a href="about" class="title-head">Embrace New Connections</a></h4>
                    <p class="">
                        "By engaging directly with your target audience through personalized and targeted messaging, you can cultivate meaningful connections, drive conversions, and confidently achieve your marketing goals."
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- //banner bottom section --><!-- //banner section -->
<!-- image with content section -->
<section class="home-block-3 py-xl-4 py-2">
    <div class="row m-0 align-items-center">
        <div class="col-lg-6 left-s2000-img p-0">
            <img src="~/images/wallpaper.jpg" alt="card-image" class="img-fluid">
        </div>
        <div class="col-lg-6 right-s2000-img mt-lg-0 mt-sm-4 mt-5">
            <div class="p-xl-5 p-sm-4 mx-xl-3">
                <h5 class="sub-title-vek"><strong>Get in touch with us today, and we'll take care of sending 500 marketing emails to fulfill any of your needs..."THAT'S ON US"</strong> </h5>
                <p class="sub-title mt-3">
                    <div class="text-center">
                        <a href="contact" class="btn btn-style mt-5">Create a booking</a>
                    </div>
                </p>
                <div class="row mt-5 pt-xl-4">
                    <div class="col-sm-6 icon-style">
                        <i class="fas fa-tshirt"></i>
                        <div class="ab-detail">
                            <h4 class="title-head mb-sm-3 mb-2"><a href="services">Clean Results</a></h4>
                            <p>
                                We will implement the best possible strategies to ensure that our clients get the best results
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 icon-style mt-sm-0 mt-4">
                        <i class="fas fa-shipping-fast"></i>
                        <div class="ab-detail">
                            <h4 class="title-head mb-sm-3 mb-2"><a href="services">Fast Delivery</a></h4>
                            <p>
                                All marketing are done on time and through our history of marketing research or on clients request
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //image with content section -->
